/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : May 20, 2019, 8:53:30 AM
    Author     : yinx
*/

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slide-nav .active,
.dot:hover {
    background-color: #717171;
}

.nav a {
    color: red;
    font-weight: bold;
}

.nav {
    margin-bottom: 15px;
}

#wrapper {
    width: 100%;
    max-width: 480px;
    min-height: calc(100vh - 60px);
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

#wrapper .extend .description {
    height: calc(100vh - 230px);
    overflow-y: scroll;
}

.slide-content {
    position: relative;
}

.slide-content p {
    padding-left: 10px;
    padding-right: 10px;
}

.slide-content h4 {
    padding-left: 5px;
}

.slide-nav {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.pronc p {
    position: relative;
}

.pronc.pattern {
    /*display: none;*/
}

.word-info {
    /*border-bottom: solid 1px black;*/
}

.word-info .word {
    font-weight: bold;
    position: relative;
}

.word-info .word .type {
    position: absolute;
    right: 10px;
    font-style: italic;
}

.pronc p img {
    width: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.extend-type {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.detail p {
    /*    border-bottom: solid 1px #bbb;*/
}

.detail p.vietnamese {
    border-bottom: none;
    color: #1bbbae;
}

.detail {
    /*border-bottom: solid 1px black;*/
}

.non-display {
    display: none !important;
}

.word-relationship h4 {
    margin-top: 5px;
    border-bottom: solid #bbb 1px;
}

.word-relationships .examle {
    font-style: italic;
}

#wrapper .extend {
    position: absolute;
    width: 100%;
}

.extend.examples {
    left: 0;
}

.extend.word-families {
    left: 100%;
}

.extend.word-descriptions {
    left: 100%;
}

.extend.word-relationships {
    left: 100%;
}

.english:hover {
    cursor: pointer;
}

#wrapper form {
    margin-left: 10px;
    margin-right: 10px;
}

.add-element {
    text-align: right;
}

.group {
    /*position: relative;*/
}

.group .remove-element {
    text-align: right;
}

.remove-element:hover {
    cursor: pointer;
}

.group {
    /*border-bottom: solid 1px red;*/
}

.wrapper-content {
    /*border: solid 1px red;*/
}

table#words ul,
table#words ol {
    padding-left: 10px;
    margin-left: 5px;
}

.practice .answers {
    margin-top: 35px;
}

.practice .choose .answers .content {
    width: 40%;
    border: solid 1px black;
    display: inline-table;
    margin-top: 10px;
    padding: 5px;
}

.practice .choose .answers .content.right {
    margin-right: 10px;
    float: right;
}

.practice .choose .answers .content.left {
    margin-left: 10px;
}

.question {
}

.question img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

button.check-and-next{
    background-color: #0df90d !important;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.sort .answers p{
    line-height: 2.5em;
}

.sort .answers .token{
    background-color: greenyellow;
    padding: 5px;
    cursor: pointer;
}

.answers .answer-area, .answers .tokens-area {
    min-height: 2em;
}

.answers .tokens-area {
    background-color: #bbb;
}